[Unit]
Description = isucon6 qualifier main application in nodejs

[Service]
WorkingDirectory=/home/isucon/webapp/js
EnvironmentFile=/home/isucon/env.sh
Environment=NODE_ENV=production

ExecStart = /home/isucon/.nodebrew/current/bin/node --inspect=0.0.0.0:9229 --trace-sync-io /home/isucon/webapp/js/bin/run_isuda

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
